#left_eye {
    fill: rgba(163, 106, 147, 0.42);
    stroke: ghostWhite;
    stroke-width: 4px;
}

#left_eye:hover ~ *{
    stroke-width: 24px;
}
button {
    display: inline-block;
    width: 200px;
    height: 40px;
    cursor: pointer;
}
.highlighted{
    background-color: darkred;
}